* {
    box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "header header"
        "aside main";
    grid-gap: 5px;
    margin:0px auto;

}

/* 
font-family: 'Loved by the King', cursive;
font-family: 'The Girl Next Door', cursive;
font-family: 'Gloria Hallelujah', cursive;
*/
header{
    grid-area: header;
    width:100%;
    background-color: rgba(250, 240, 94, 0.856);
    border-bottom: 5px solid black;
    border-radius: 0% 0% 90% 20%/0% 0% 40% 70%;
}
.header-title{
    width:100%;
    font-size: 35px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
.aside{
    grid-area: aside;
    width: 100%;
    height: 86vh;
    border: 4px solid black;
    padding: 20px;
    position: relative;
    margin: 5px auto 5px 5px;
    border-radius: 2% 40% 2% 90%/80% 2% 50% 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 92% 1fr;
}
.aside-header{
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    font-family: 'Loved by the King', cursive;
    color: rgba(250, 240, 94, 0.856);
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
    background-color: orangered;
    border-radius: 40% 2% 70% 2%/10% 90% 20% 70%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.aside-footer{
    width: 90%;
    margin: 0px auto;
    font-size: 20px;
    font-family: 'Loved by the King', cursive;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 14px;
    left: 10px;
    letter-spacing: 4px;
    background-color: rgba(240, 225, 11, 0.972);
    border-radius: 20% 2% 50% 2%/5% 60% 30% 70%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.aside-footer:hover{
    animation-name: aside-footer;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
    @keyframes aside-footer{
        100%{
            padding: 7px;
            border-radius: 60% 2% 50% 2%/5% 10% 80% 70%;
        }
    }


.aside-main{
    width: 94%;
    margin: 10px auto 50px auto;
    height: 90%;
    overflow: auto;
}

.list-title{
    margin: 10px 4px;
    padding: 2px;
    background-color: orange;
    border-radius: 2% 70% 3% 60%/80% 3% 80% 6%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Loved by the King', cursive;
    font-size: 20px;
    position: relative;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
}
.selected-list{
    animation-name: selected-list;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}
    @keyframes selected-list{
        100%{
            margin: 5px 4px;
            padding-right: 14px;
            font-size: 18px;
            letter-spacing: 4px;
            background-color: rgba(212, 119, 32, 0.9);
            box-shadow: 0px 5px 4px 0px rgba(119, 61, 6, 0.6);
            color: rgba(250, 240, 94, 0.856);
        }
    }
.delete-button{
    color: rgb(253, 17, 17);
    float: right;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 6px;
    right: 3px;
    z-index: 10;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(100, 12, 12,0.5);
}
.main{
    grid-area: main;
    width: 98%;
    height: 86vh;
    border: 4px solid black;
    padding: 20px;
    margin: 10px;
    margin: 5px auto 5px 5px;
    border-radius: 1% 80% 2% 60%/50% 2% 70% 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 70vh;
    grid-gap: 10px;
}

.main-header{
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    font-family: 'Loved by the King', cursive;
    color: rgba(0, 0, 0, 0.856);
    font-weight: 800;
    text-align: center;
    padding: 5px;
    letter-spacing: 6px;
    background-color: rgba(247, 162, 4, 0.8);
    border-radius: 40% 2% 70% 2%/10% 90% 20% 70%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.main-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 65vh;
}
.main-list-content{
    width: 99%;
    margin: 10px auto 50px auto;
    height: 90%;
    overflow: auto;
    background-color: whitesmoke;
    border-radius: 1% 80% 1% 90%/60% 1% 90% 1%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.enter-list-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.enter-list-form #enter-list-text{
    width: 90%;
}
.enter-list-form #enter-list-text{
    width: 90%;
}
.line{
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline:none;
    transition:height, width;
    transition-duration: 1s;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-family: 'Loved by the King', cursive;
    color: black;
    font-weight: bolder;
    line-height: 20px;
    /* padding: 20px 10px; */
    margin: 5px;
    letter-spacing: 6px;
    
}
#enter-list-button{
    background-color:rgba(252, 77, 14,0.8);
    height: 35px;
    border: none;
    outline:none;
    font-size: 20px;
    font-family: 'Loved by the King', cursive;
    color: rgba(250, 240, 94, 0.856);
    font-weight: bolder;
    text-align: center;
    padding: 2px;
    letter-spacing: 6px;
    border-radius: 20% 2% 70% 2%/5% 90% 20% 70%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    transform: rotateZ(-8deg);
}
.main-list-item{
    width: 95%;
    margin: 4px auto 4px 10px;
    font-size: 20px;
    font-family: 'The Girl Next Door', cursive;
    color: rgba(0, 0, 0, 0.856);
    font-weight: bolder;
    position: relative;
    padding: 2px 10px;
    letter-spacing: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.checkbox{
    margin-right: 10px;
    cursor: url('../images/pen.png') 20 40, default;
}
.checkbox:checked{
    transform: scale(1.6);
    color: red;
}
.strikeout{
    animation-name: strikeout;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
    @keyframes strikeout{
        100%{
            text-decoration: line-through;
            color: rgba(39, 121, 7, 0.6);
            font-size: 18px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            /* background-color: rgb(8, 163, 8); */
            /* border-radius: 1% 70% 10% 30%/95% 10% 8% 10%; */
        }
    }

.list-drop-target{
    border-top: 2px dotted gray;
    border-left: 2px dotted gray;
    border-right: 2px dotted gray;
    padding: 5px;
    width: 102%;
    margin: 0px;
    position: absolute;
    top: -5px;
    left: -1px;
}
.note-drop-target{
    border-top: 4px dotted gray;
    width: 102%;
    position: absolute;
    top: -5px;
    left: -1px;
}