#welcome-pop-up{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1; 
    /* border: 2px solid red; */
}
#welcome-main{
    width: 70%;
    height: 80%;
    position: relative;
    border: 6px solid rgba(0,0,0,1);
    border-radius: 70% 5% 50% 5%/7% 70% 8% 70%;
    background-color:rgba(0, 0, 0, 0.3);
    margin: 15vh auto 5vh auto;
    
}
.welcome-content{
    z-index: 10;
}
#welcome-bg{
    width: 100%;
    height: 100%;
    border-radius: 72% 6% 57% 7%/10% 90% 12% 80%;
    background-image: url("../images/pop-up1.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    /* overflow: hidden; */
    object-fit: cover;
    object-position: left; 
}
.welcome-content{
    position: absolute;
    z-index: 10;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 4vw;
    color: aqua;
    top: 10px;
    left:10px;
    margin: 10vh 15vw;
}

.welcome-content  input[type="text"]{
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    transition:height, width;
    transition-duration: 1s;
    -webkit-transition:height 1s;
    border-bottom: 2px solid rgba(91, 230, 230, 0.8);
    width: 100%;
    height: 1.7em;
    font-family: 'The Girl Next Door', cursive;
    font-weight: bold;
    line-height: 2em;
    font-size: 3.5vw;
    color: orangered;
    letter-spacing: 5px;
    padding-bottom: 0.1em;
    margin-top: 10vh;
}
.welcome-content button{
    position: relative;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline:none;
    background-image: url(../images/enter.png);
    background-repeat: no-repeat;
    width: 4vw;
    height: 4vw;
    bottom: 7vw;
    left: 102%;
}
.welcome-content img{
    width: 4vw;
    height: 4vw;
    position: absolute;
    top:0px;
    left:0px;
 } 
 .welcome-content img:active{
     padding: 2px;
 }


